{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 120px;">
        <article class="text-center">
            <header class="mt-4 mb-4"><h1>Task management for today's workplace</h1></header>
            <p><h5>Do you have a lot of work and do not remember everything?</h5></p>
            <p><h5>Do you want to relieve your brain and improve your performance?</h5></p>
            <p><h4>Take advantage of our offer now and start with a better self-organization!</h4></p>
            <button type="submit" class="btn btn-primary btn-lg mt-4">Get started!</button>
        </article>
    </div>
{% endblock %}
