{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <h1 style="margin-top: 50px; margin-bottom: 50px;">List of you're categories:</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Category:</td>
                <td>Created At</td>
                <td>Deadline</td>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        <a href="{{ path('category.show', {id: category.id}) }}">
                            {{ category.name }}
                        </a>
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                       -
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
