{% extends 'base.html.twig' %}

{% block title %}created posts {% endblock %}

{% block body %}
    <div class="container" style="text-align: center;">
        <h1 style="margin-top: 50px; margin-bottom: 50px;">{{ category.name }} category:</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Title:</td>
                <td>Deadline</td>
                <td>Enter below to get more details</td>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline|date("Y/m/d") }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('task_show', {id: task.id}) }}">Show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
