{% extends 'base.html.twig' %}

{% block title %}Todo-app! {% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        {{ form(form) }}
        <a class="btn btn-danger btn-md mb-4" href="{{ path('user_delete', {id: app.user.id})}}">Remove</a>
    </div>
{% endblock %}
